


/* --------- Media queries */
body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

#dealer-cards img {
    height: 175px;
    width: 125px;
    margin: 1px;
}

#player-cards img {
    height: 175px;
    width: 125px;
    margin: 1px;
}

#hit {
    width: 100px;
    height: 50px;
    font-size: 20px;
}

#stay {
    width: 100px;
    height: 50px;
    font-size: 20px;
}


#startgame {
    width: 100px;
    height: 50px;
    font-size: 20px;
}


/* --------- Media queries */

@media (max-width: 414px) {
    .playerscore-area {
        width: 100%;
    }

    .btn--big {
        margin: 0 10px;
        padding: 5px;
        border: 5px solid;
        width: 50px;
        height: 50px;
        font-size: 1.5rem;
    }

    .btn--big::after {
        font-size: 0.6rem;
        left: -0.7rem;
    }

    .question-area {
        padding: 10% 0;
        width: 100%;
    }

    .question-area span {
        padding: 0;
    }

    .answer-message {
        display: block;
    }

    #answer-box {
        display: block;
        margin: 0 auto;
    }
    .btn--gray {
        margin-top: 0;
    }

    .score-area {
        width: 100%;
    }

    .scores {
        margin: 0.5em auto;
        display: block;
        padding: 5px;
    }

    .heading {
        font-size: 2rem;
    }
}

@media (max-width: 320px) {
    .game-area {
        height: 70vh;
    }

    .controls-area {
        width: 75%;
        margin: 10px auto;
    }

    .btn--big {
        margin: 10px 10px;
    }
    .question-area {
        padding: 10px 0;
    }

}
